@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.src {
    height: 80px;
    width: 80px;
}

#c {
    background-color: rgb(73, 186, 238);
    color: black;
}

.nav-link {
    color: black;
}

.navbar-toggler {
    color: black;
}

.navbar-toggler-icon {
    color: black;
}

.collapse {
    color: black;
}